<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="http://localhost"/>
		<add key="LoginUrl" value="/RETS/FNISRETS.aspx/XXX/login"/>
		<add key="Port" value="80"/>
		<add key="UserAgent" value="LpsRetsClient/0.1.0.0"/>
		<add key="UserAgentAuth" value="xxx"/>
		<add key="RetsVersion" value="RETS/1.5"/>
	</appSettings>
</configuration>
